In [ ]:
import mysql.connector as connector

In [ ]:
connection = connector.connect(user = "admin1", password = "06082000@Ali", db = 'LittleLemonDB')
print("The database in use is: ", connection.database)

In [ ]:
cursor = connection.cursor()

In [ ]:
show_tables_query = '''SHOW tables''' 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for table in results:
    print(table)

In [ ]:
query = '''
select customer.Name, customer.ContactNumber, customer.Email, orders.TotalCost
from customer
INNER JOIN orders USING(CustomerID)
where orders.TotalCost > 60;
'''
cursor.execute(query)